/* Бургер меню */
header {
    background-color: #113377;
}

.burger-checkbox {
    position: absolute;
    visibility: hidden;
}

.burger {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
}

.burger::before,
.burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #ffffff;
    
}

.burger::before {
    top: 0;
    box-shadow: 0 11px 0 #ffffff;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

.burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
    
}

.burger-checkbox:checked+.burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(255, 255, 255, 0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
}

.burger-checkbox:checked+.burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
}

.menu-list {
    top: 95px;
    left: 0;
    position: absolute;
    display: grid;
    gap: 12px;
    padding: 42px 0;
    margin: 0;
    background: #225588;
    list-style-type: none;
    transform: translateX(-100%);
    transition: .3s;
    /* width: 100%; */
    width: 200px;
    z-index: 1;
}

.menu-item {
    display: block;
    padding: 8px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}

.menu-item:hover {
    background: rgba(255, 255, 255, .2)
}

.burger-checkbox:checked~.menu-list {
    transform: translateX(0);
}

/* Стилизация header */
.header {
    padding: 10px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* header::after {
    content: " ";
    display: block;
    width: 100%;
    height: 3px;
    margin: 30px 0 0 0;
    background-color: var(--bg-color-grey);
} */

.header__logo {
    width: 250px;
}

.header__logo img {
    width: 100%;
}

.header__phone {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    transition: .5s;
    position: relative;
    color: var(--bg-main);
    font-size: calc(12px + 8 * (100vw / 1600));
}

@media (max-width: 767px) {
    h1 {
        font-size: calc(12px + (8 + 8 * 0.7) * ((100vw - 320px) / 1600));
    }
}

.header__phone::after {
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    right: 100%;
    bottom: 10px;
    background-color: var(--bg-main);
    transition: .22s;
}

.header__phone:hover::after {
    right: 0;

}

.header__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}

.social__item {
    transition: .5s;
    position: relative;

}

.social__item::after {
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    right: 100%;
    bottom: -5px;
    background-color: var(--bg-main);
    transition: .22s;

}

.social__item:hover::after {
    right: 0;

}



@media (max-width: 992px) {
    .wrapper {
        width: 98%;
    }

    .header {
        justify-content: space-evenly;
    }
}

@media (max-width: 768px) {
    .wrapper {
        width: 100%;
        padding: 0 5px 0 5px;
    }

    .header {
        justify-content: center;
    }

    .header__social {
        margin: 0 0 0 8px;
    }

    .social__item,
    .header__phone span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
    }

    .social__item img,
    .header__phone img {
        width: 100%;
        text-align: center;
    }


}

@media (max-width: 576px) {
    .header {
        flex-wrap: wrap;
    }
}

@media (max-width: 531px) {
    .menu-list {
        top: 127px;
    }
}

@media (max-width: 450px) {
    .menu-list {
        top: 132px;
    }
}

@media (max-width: 299px) {
    .menu-list {
        top: 160px;
    }
}