.landing {
    background-color: #c7d5f3ce;
    padding: 50px 0 50px 0;
}


.flex-landing__title {
    font-size: var(--fs-title-h2);
    text-align: center;
}

.flex-landing__text {
    font-size: var(--fs-text);
}

.landing__img {
    width: 100%;
    box-shadow: 10px 12px 5px rgba(173, 169, 169, 0.406)
}

.landing__title--h3 {
    font-size: var(--fs-title-h3);
}

.list__title {
    font-weight: 700;

}

.landing-list li {
    font-size: var(--fs-text);
    list-style: circle inside;
}

.landing-list__item {
    padding-bottom: 30px;
}

@media (max-width: 920px) {
    .wrapper {
        padding: 0 20px 0 20px;

    }

    .landing {

        padding: 20px 0 10px 0;
    }
}